@import './../../../../assets/css/variables.scss';

.shopcart {
    display: flex;
    justify-content: space-between;

    &__card {
        display: flex;
        background-color: $white;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
        border-left: 2px solid $yellow;
        width: 40%;
        padding: 0.9rem;
        align-items: center;
        height: 20vh;

        img {
            width: 30%;
            height: 80%;
        }

        &--total {
            width: 20%;
            height: auto;
            border-left: $white;
            border-top: 2px solid $yellow;
        }
    }

    &__price {
        font-size: 1.2rem;
        font-weight: $bold;
    }

    &__button {
        border: none;
        background-color: $yellow;
        padding: 0.5rem;
        border-radius: 5px;
        font-weight: $bold;
    }

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items:center

    }
}

h3 {
    font-size: 2rem;
    border-left: 5px solid $yellow;
    padding: 0.2rem;
}