@import './../../../../assets/css/variables.scss';

.details {
    margin: 3rem;

    &__product {
        display: flex;
        justify-content: space-evenly;

        &__img {
            width: 30%;

            img {
                width: 300px;
                height: 50%;
                border: 5px solid $yellow;            
                padding: 1rem;
                border-radius: 5px;
            }

        }

        &__price {
            &__title {
                font-size: 1.5rem;
                font-weight: $bold;
                border-left: 5px solid $yellow;
            }  
            
            &__money {
                font-size: 1.2rem;
            }

            &__button {
                border: none;
                width: 100%;
                border-radius: 5px;
                padding: 1rem;
                background-color: $yellow;
                font-weight: $bold;
                cursor: pointer;
            }
        }   
    }
}